__pycache__/
hZ/__pycache__
test/
hafeZ_db/
stdin.hhr
.DS_Store

src/hafeZ.egg-info/

src/hafeZ/tests/helpers/*
src/hafeZ/tests/helpers/
test_db/

tests/test_data/database/
src/databases/

test_out/
test_out/*
test_out_long/
test_out_long/*
